<% extend('./base') %>

<h1>Sign In</h1>
<form method="POST" action="/login">
  <div>
    <input type="text" name="userName" placeholder="User Name">
  </div>
  <div>
    <input type="text" name="password" placeholder="Password"></input>
  </div>
  <button class="btn btn-success">login</button>
</form>
